[flake8]
doctests = True
enable-extensions = G
max-line-length = 100
# Black-compatible flake8 configuration
extend-ignore = E203

exclude =
    .git,
    __pycache__,
    venv,
    migrations,
    manage.py

# Flake plugins:

# flake8-bugbear
extend-immutable-calls = pathlib.Path, Path, datetime.now, timezone.now, now
